{% extends 'login_layout/layout.html' %}
{% load static %}
{% block content %}
<div class="col-md-9 my-profile-w-80 g-0">
    {% include 'management/topbar.html' %}

                <div class="main-section-container">
                    <div class="row back-link">
                        <a href="/">
                            <div class="icon-box"><span class="material-symbols-outlined">
                                arrow_back_ios
                                </span></div>New Membership<span style="color: #808080; margin-left: 5px;"> > Student</span></a>
                    </div>

                    <div class="multilevel-form">
                        {% block steps %}
                        
                        {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endif %}
                        <form id="twoStepForm" method="post", action={% url 'management:edit_personal_info' id=membership.id %} enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="step" id="step1">
                                <h3 class="form-title">Personal Information</h3>
                                <hr>
            
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label cm">Salutation <span class="required-text">*</span></label>
                                        <select class="form-select form-control" aria-label="Default select example" name='salutation' required>
                                            <option selected disabled>Select Salutation</option>
                                            {% for k, v in salutation %}
                                            <option value="{{ k }}"{% if k == membership.salutation %}selected{% endif %}>{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label cm">Name of applicant <span class="required-text">*</span></label>
                                        <input type="text" class="form-control cm" placeholder="Enter applicant name" name='name_of_applicant' value="{{ membership.name_of_applicant }}" style="font-weight:bold" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label cm">Phone Number<span class="required-text">*</span></label>
                                        <input type="text" class="form-control cm" placeholder="Enter date of birth" name='phone_number' value={{ membership.phone_number }} required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label cm">Gender <span class="required-text">*</span></label>
                                        <select class="form-select form-control" aria-label="Default select example" name='gender' required>
                                            <option selected disabled>Select Gender</option>
                                            {% for k, v in gender %}
                                            <option value="{{ k }}"{% if k == membership.gender %}selected{% endif %}>{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label cm">Affiliation <span class="required-text">*</span></label>
                                        <input type="text" class="form-control cm" placeholder="Enter organization name" name='affiliation' value={{  membership.affiliation }} required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-8">
                                        <label class="form-label cm">Passport size photo of the applicant showing both ears <span class="required-text">*</span></label>
                                        <input type="file" class="form-control cm" placeholder="Choose passport size photo" name='pp_photo' required>
                                    </div>
                                </div>
                                <div class="button-container mt-2 d-flex justify-content-end">
                                    <button type="submit" class="submit-btn btn" onclick="nextStep(this)">Submit</button>
                                </div>
                            </div>
                        </form>
                        {% endblock %}
                    </div>

                </div>
                
</div>
{% endblock %}