{% extends 'login_layout/layout.html' %}
{% load static %}
{% block content %}
            <div class="col-md-9 my-profile-w-80 g-0">
                {% include 'management/topbar.html' %}

                <div class="main-section-container">
                    <div class="row back-link">
                        <a href="/">
                            <div class="icon-box"><span class="material-symbols-outlined">
                                    arrow_back_ios
                                </span></div>{{ request.user.full_name }} <span style="color: #808080; margin-left: 5px;"> >
                                Change Password</span>
                        </a>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-primary mb-0">
                            {{ message|escape }}
                        </div>
                        {% elif message.tags == 'error' %}
                        <div class="alert alert-danger mb-0">
                            {{ message|escape }}
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}


                    <div class="multilevel-form">
                        <h2 class="form-title">Change Password</h2>
                        <hr>

                        <form action="{% url 'account:change_password' %}" method='post'>
                            {% csrf_token %}
                        <div class="row mb-3 mt-4">
                            <div class="col-md-6">
                                <label class="form-label cm">Current password</label>
                                <input type="text" class="form-control cm" placeholder="Enter current password" name='current_password' required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label cm">New password</label>
                                <input type="text" class="form-control cm" placeholder="Enter new password" name='new_password' required>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label cm">Confirm password</label>
                                <input type="text" class="form-control cm" placeholder="Re-type new password" name='retype_new_password' required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-end">
                                <button type="submit" class="btn submit-btn">Change Password</button>
                            </div>
                        </div>
                    </form>
                    </div>

                </div>

            </div>
{% endblock %}



</html>