{% extends 'login_layout/layout.html' %}
{% load static %}
{% block content %}
            <div class="col-md-9 my-profile-w-80 g-0">
                {% include 'management/topbar.html' %}

                <div class="main-section-container">
                    <div class="row back-link">
                        <a href="#" onclick="history.back()">
                            <div class="icon-box"><span class="material-symbols-outlined">
                                    arrow_back_ios
                                </span></div>{{ request.user.full_name }} <span style="color: #808080; margin-left: 5px;"> >
                                Profile</span>
                        </a>
                    </div>


                    <div class="multilevel-form">
                        <div class="profile-detail">
                            <span class="profile-image-section">
                                <div class="profile-image">
                                    {% if membership.type != 2 %}
                                    <img src="{{ membership.pp_photo.url }}" alt="">
                                    {% else %}
                                    <img src="https://ui-avatars.com/api/?name={{ request.user.full_name }}&rounded=true&background=FB802C&color=ffffff&size=28&bold=true">
                                    {% endif %}
                                </div>
                                <div class="profile-user-details">
                                    <h3 class="user-name">{{ request.user.full_name }}</h3>
                                    <span class="card-text">{{ membership.get_membership_type_display }}</span> <br>
                                    <span class="card-text">{{ request.user.email }}</span>

                                </div>
                            </span>
                            <span>
                                <a href="{% url 'account:change_password' %}" class="btn submit-btn">Change Password</a>
                            </span>
                        </div>

                        <div class="user-details mt-5">
                            <h2 class="form-title">User Details</h2>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label cm">Full name</label>
                                    <p class="data">{{ request.user.full_name }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label cm">Email address</label>
                                    <p class="data">{{ request.user.email }}</p>
                                </div>
                                {% if membership %}
                                <div class="col-md-4">
                                    <label class="form-label cm">Phone number</label>
                                    <p class="data">{{ membership.phone_number }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
{% endblock %}



</html>