{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NGS | Membership Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/fulllogo.jpg' %}" alt="">
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://ngeotechs.org/?page_id=1464" target="_blank">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'management:membership_guidelines' %}">Membership</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link auth-btn" href="{% url 'account:login_user' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link auth-btn" href="{% url 'account:signup' %}">Register</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


  
        <div class="multilevel-form">
            <div class="step" id="step1">
                <h3 class="form-title">Event Details</h3>
                <hr>

                <div class="row mb-3 mt-4">
                    <div class="col-md-12">
                        <p class="data">{{ event.name }}</p>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12 event-card">
                        <img src="{{ event.banner.url }}" alt="">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label cm">Platform or venue</label>
                        <p class="data d-flex align-items-center">
                            <span class="material-symbols-outlined me-2">
                              {% if event.type == 1 %}dialogs
                              {% else %} location_on
                              {% endif %}
                            </span> {{ event.veneu }}
                        </p>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label cm">Event date</label>
                        <p class="data d-flex align-items-center">
                            <span class="material-symbols-outlined me-2">
                              calendar_month
                            </span> {{ event.date }}
                          </p>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label cm">Event duration</label>
                        <p class="data d-flex align-items-center">
                            <span class="material-symbols-outlined me-2">
                              pace
                            </span>{{ event.duration }}
                          </p>
                    </div>

                </div>
                
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label cm">Event description</label>
                        <p class="card-text event-desc">
                           {{ event.description }}
                        </p>
                    </div> 
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label cm">Guest description</label>
                        <p class="card-text event-desc">
                           {{ event.guest_description }}
                        </p>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label cm">Teckets or pricing description</label>
                        <div class="event-desc">
                          {% if event.pricing_type == 'paid' and ticket_types %}
                          <table class="w-100 mb-3 border">
                            <thead>
                              <tr>
                                <th class="form-label p-1">Ticket Type</th>
                                <th class="form-label p-1">Ticket Description</th>
                                <th class="form-label p-1">Ticket Limit (Number of tickets)</th>
                                <th class="form-label p-1">Ticket Price</th>
                              </tr>
                            </thead>
                            <tbody>
                          
                            {% for ticket_type in ticket_types %}
                                <tr class="card-text">
                                  <td class="card-text p-1">{{ ticket_type.name }}</td> 
                                  <td class="card-text p-1">{{ ticket_type.description }}</td>
                                  <td class="card-text p-1">{{ ticket_type.limit }}</td>
                                  <td class="card-text p-1">{{ ticket_type.price }}</td> 
                                </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                          {% endif %}
  
                          <p class="card-text">
                            {{ event.ticket_pricing_description}}
                        </p>
                      </div>
  
                    </div>
                </div>

                <div class="row mb-3">
                    {% if event.type == 2 %}
                    <div class="col-md-12 map">
                        <label class="form-label cm">Venue location</label>
                        {{ event.url_location|safe }}
                    </div>

                    {% else %}

                    <div class="col-md-12">
                      <label class="form-label cm">Platform link</label>
                      <p class="data d-flex align-items-center">
                          <span class="material-symbols-outlined me-2">
                              attach_file
                          </span>
                          <a href="{{ event.url_location }}" target="_blank" rel="noopener noreferrer">{{ event.url_location }} </a> 
                      </p>
                  </div>       
                    </div>
                {% endif %}

            </div>
            <!-- Participate button -->
            <!-- <a href="{% url 'events:participate' event.id %}" class="btn btn-primary">Participate</a> -->

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#participate">
              Participate
            </button>

            <!-- Modal -->
            <div class="modal fade" id="participate" tabindex="-1" aria-labelledby="participateLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="participateLabel">Enter your details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="twoStepForm" class="form" method="POST" action="">
                      {% csrf_token %}
                      <input type="text" name="event_id" value="{{event.id}}" hidden>
                           <div class="row mb-3">
                               <div class="col-md-12">
                                   <label class="form-label cm">Your name <span
                                           class="required-text">*</span></label>
                                   <input type="text" class="form-control cm" name="name" placeholder="Enter your name" required >   
                               </div> 
                           </div>

                           <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label cm">Email address </label>
                                <input type="text" class="form-control cm" name="email" placeholder="Enter email address"  >   
                            </div> 
                          </div>

                          <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label cm">Phone number</label>
                                <input type="text" class="form-control cm" name="phone" placeholder="Enter phone number" >   
                            </div> 
                          </div>
                    

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input  type="submit" class="btn btn-primary" value="Submit">
                  </div>

                </form>
                </div>
              </div>
            </div>
            
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    </body>
    </html>
    