<!-- email/membership_expiry.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Expiring Soon </title>
</head>
<body>
    <p>Dear {{ user.full_name }},</p>
    <p>Your membership will expire in 30 days on {{expiry_date}}. Plese renew it before it expires.</p> 
    <br>
    <p>Best regards,<br>
        भूप्रविधि समाज नेपाल <br>
        Nepal Geotechnical Society <br>
        ngeotechs.org
    </p>
</body>
</html>
