<!-- email/membership_approved.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Approved</title>
</head>
<body>
    <p>Dear {{ user.full_name }},</p>
    <p>Congratulations! Your membership application has been verified. Please log in to your account to view your official NGS membership card.</p>
    <p>Best regards,<br>
        भूप्रविधि समाज नेपाल <br>
        Nepal Geotechnical Society <br>
        ngeotechs.org
    </p>
</body>
</html>
