<!-- email/registration_complete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Complete</title>
</head>
<body>
    <p>Dear {{ user.full_name }},</p>
    <p>Thank you for applying. Please expect your application to be verified within 15 working days.</p>
    <p>Best regards,<br>
        भूप्रविधि समाज नेपाल <br>
        Nepal Geotechnical Society <br>
        ngeotechs.org
    </p>
</body>
</html>
