{% extends 'login_layout/layout.html' %}
{% load static %}
{% block content %}

<div class="col-md-9 my-profile-w-80 g-0">
    {% include 'management/topbar.html' %}

    <div class="main-section-container">
        <div class="row back-link">
            <a href="#" onclick="history.back()">
                <div class="icon-box"><span class="material-symbols-outlined">
                    arrow_back_ios
                    </span>
                </div>Participation List for {{ event }} <span style="color: #808080; margin-left: 5px;"></span>
            </a>
        </div>



        <div class="multilevel-form">
            <div class="step" id="step1">
                <h3 class="form-title">Registered Members</h3>
                <hr>

                <table class="table participation-list">
                    <thead>
                      <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Ticket Type</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Payment Screenshot</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                    {% for participation in participator_auth_going %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ participation.user.full_name }}</td>
                        <td>{{ participation.user.email }}</td>
                        <td>{{ participation.phone_number }}</td>
                        <td>{{ participation.ticket_type.name }}</td>
                        <td>{{ participation.amount_paid }}</td>
                        <td>
                            {% if participation.payment_screenshot %}
                                <a href="{{ participation.payment_screenshot.url }}" style="
                                padding: 5px 8px;
                                border-radius: 8px;
                                background: #2549e4;
                                color: #fff;
                                font-size: 14px;
                            ">View Screenshot</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                      
                    </tbody>
                  </table>

                <h3 class="form-title mt-5">Not Registered Members</h3>
                <hr>


                <table class="table participation-list">
                    <thead>
                      <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Ticket Type</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Payment Screenshot</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                    {% for participation in participator_non_auth %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ participation.name }}</td>
                        <td>{{ participation.email }}</td>
                        <td>{{ participation.phone_number }}</td>
                        <td>{{ participation.ticket_type.name }}</td>
                        <td>{{ participation.amount_paid }}</td>
                        <td>
                            {% if participation.payment_screenshot %}
                            <a href="{{ participation.payment_screenshot.url }}" style="
                            padding: 5px 8px;
                            border-radius: 8px;
                            background: #2549e4;
                            color: #fff;
                            font-size: 14px;
                        ">View Screenshot</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                      
                    </tbody>
                  </table>

                


            </div>

    </div>

{%endblock%}